[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lavinteract"]
	path = lavinteract
	url = https://github.com/g-corbelli/lavinteract
[submodule "persval"]
	path = persval
	url = https://github.com/g-corbelli/persval
[submodule "reflectR"]
	path = reflectR
	url = https://github.com/g-corbelli/reflectr
